<% layout("boilerplate") -%>
<script type='text/javascript' src='/public/javascripts/controllers/TodoListController.js'></script>
<div class="container" ng-controller="TodoListController", ng-init="setTodos(<%= JSON.stringify(todos) %>)">
    <h1><%= title %> </h1>
    <h2>
        Add New
    </h2>
    <form name="newTodoForm" class="form-inline" role="form" ng-submit="addNewTodo()">
        <textarea ng-model="newTodo.description", placeholder="Description"></textarea><br/>
		<div class="form-group" ng-class="{'has-error': datepickerForm.date.$invalid}">
			<label class="control-group"><i class="fa fa-calendar"></i>&nbsp;Date</label>
			<input type="text" class="form-control datepicker" ng-model="newTodo.due" name="date">
		</div>
        <button class="btn btn-primary" type="submit">Add Todo</button><br />
        <!--datepicker ng-model="newTodo.due"></datepicker-->
    </form>
    <h2>
        Upcoming
    </h2>
    <div class="container">
        <div class="row todo not-done" ng-repeat="todo in todos | filter:notDoneFilter">
            <div class="col-md-9">
                <label class="checkbox">
                    <input type="checkbox" ng-model="todo.done" ng-change="todo.setTodoState()"> | {{todo.description}}
                </label>
            </div>
            <div class="col-md-2">
                <i>
                    {{todo.due | date: 'MMM d, yyyy' }}
                </i>
            </div>
            <div class="col-md-1">
                <button class="btn" ng-click="todo.removeItem()"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
        </div>
    </div>
    <h2>
        Done
    </h2>
    <div class="container"> 
        <div class="row todo done" ng-repeat="todo in todos | filter:doneFilter">
            <div class="col-md-9">
                <label class="checkbox">
                    <input type="checkbox" ng-model="todo.done" ng-change="todo.setTodoState()"> | {{todo.description}}
                </label>
            </div>
            <div class="col-md-2">
                <i>
                    {{todo.due | date: 'MMM d, yyyy' }}
                </i>
            </div>
            <div class="col-md-1">
                <button class="btn" ng-click="todo.removeItem()"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
        </div>
    </div>
</div> <!-- /container -->