<% layout("layout") -%>
<script type='text/javascript' src='/public/javascripts/controllers/EventListController.js'></script>
<div class="container" ng-controller="EventListController", ng-init="setEvents(<%= JSON.stringify(events) %>)">
    <h1><%= title %> </h1>
    
</div> <!-- /container -->