<% layout("layout") -%>
<script type='text/javascript' src='/public/javascripts/controllers/RecipeController.js'></script>
<script>
$(function(){
    util.sc("Header").setHomeActive();
});
</script>
<div class="container" ng-controller="RecipeController" ng-init="initData(<%= JSON.stringify(recipes) %>, <%= JSON.stringify(properties) %>,  <%= JSON.stringify(types) %>)">
    <h1 class="control-group"><%= title %> </h1>
    <div>
        <div style="margin-top: 20px">
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
							<th>Name</th>
                            <th ng-repeat="prop in properties">{{prop.name}}</th>
                            <th>Edit/Deactivate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="recipe in recipes">
                           <td>
                             <a ng-if="recipe.url" href="{{generateRecipeLink(recipe.url)}}">{{recipe.name}}</a>
                             <span ng-if="!recipe.url">{{recipe.name}}</span>
                           </td>
                           <td ng-repeat="prop in properties">
                            {{parsePropertyValue(recipe.properties[prop._id])}}
                           </td>
                           <td>
                                <div class="btn-group">
                                    <button class="btn btn-warning" ng-click="editRecipe(recipe)"><i class="glyphicon glyphicon-pencil"></i></button>
                                    <button class="btn btn-danger" ng-click="deactivateRecipe(recipe)"><i class="glyphicon glyphicon-remove"></i></button>
                                </div>
                           </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-show="noRecipes()">
                <h5>No Recipes Available</h5>
            </div>
        </div>
        <div style="margin-top: 20px">
            <button class="btn btn-success" ng-click="addRecipeClicked()"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add New Recipe</button>
        </div>
    </div>
    <div class="modal fade" id="recipeModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">{{modalHeader()}}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="recipeName" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input ng-model="modalRecipe.name" type="text" class="form-control" id="recipeName" placeholder="Name"/>
                        </div>
                    </div>
					<div class="form-group">
                        <label for="recipeUrl" class="col-sm-2 control-label">URL</label>
                        <div class="col-sm-10">
                            <input ng-model="modalRecipe.url" type="text" class="form-control" id="recipeUrl" placeholder="URL"/>
                        </div>
                    </div>
					<hr></hr>
					<div ng-repeat="property in properties" class="form-group">
						<label for="{{property._id}}" class="col-sm-2 control-label">{{property.name}}</label>
						<div ng-if="property.typeName == 'Numeric'" class="col-sm-10">
                            <input ng-model="modalRecipe.properties[property._id]" type="number" class="form-control" id="{{property._id}}" placeholder="{{property.name}}"/>
                        </div>
						<div ng-if="property.typeName == 'Text'" class="col-sm-10">
                            <input ng-model="modalRecipe.properties[property._id]" type="text" class="form-control" id="{{property._id}}" placeholder="{{property.name}}"/>
                        </div>
						<div ng-if="property.typeName == 'True/False'" class="col-sm-10">
                            <input ng-model="modalRecipe.properties[property._id]" ng-init="modalRecipe.properties[property._id]=false" type="checkbox" class="" style="margin-top: 10px" id="{{property._id}}" placeholder="{{property.name}}"/>
                        </div>
						<div ng-if="property.typeName == 'Select'" class="col-sm-10">
                            <select ng-model="modalRecipe.properties[property._id]" ng-options="text for text in property.typeConfig.options" class="form-control" id="{{property._id}}" placeholder="{{property.name}}"></select>
                        </div>
						<div ng-if="property.typeName == 'Scale'" class="col-sm-10">
                            <input ng-model="modalRecipe.properties[property._id]" type="number" class="form-control" id="{{property._id}}" placeholder="{{property.name}}"/>
                        </div>
					</div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button ng-disabled="saveDisabled()" ng-click="saveRecipeClicked()" type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
    </div>
</div> <!-- /container -->