body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.top-pad-med {
    margin-top: 20px;
}

.side-pad-sm {
    margin-left: 10px;
    margin-right: 10px;
}